@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/srikrisnatextils.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap">
</head>
<!-- #region name -->
<section class="home">
    <div class="hometext">
        <span>Hey</span>
        <h1>Welcome to Sri Krishna Textils</h1>
        <p>Find your Perfect</p>
        <p>Blend of our</p>
        <p>Traditional and</p>
        <p>Modern Fashion</p>
        <div class="mainbutton">
            <a href="#" class="btn_home">About US</a>
            <a href="#" class="btn_home">Products</a>
        </div>
    </div>
    <div class="home_poster">

    </div>
</section>
<!-- #endregion -->
